.topbar
  .topbar-title Navia
  .topbar-right
    .dropdown(class=title=='Account Management'?'active':undefined)
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        if user.profile.picture
          img(src='#{user.profile.picture}')
        else
          img(src='#{user.gravatar(60)}')
        img(src='fonts/ellipsis.svg')
      ul.dropdown-menu
        li
          a(href='/account') My Account
        li.divider
        li
          a(href='/logout') Logout