extends layout

block content
  if user
    if user.agent
      script.
        var agent = true;
        var emailplz = "#{user.email}";
      div.tabbar
        div.tabbar-ind
        div.left My Recommendations
        div.right Group's Likes
      div.main-contain
        .list-container
        button.add-rec.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(onclick='$("#modl-back").show();$("#modl").show();') +
        #modl-back(onclick='$("#modl-back").hide();$("#modl").hide();')
        #modl.mdl-card.mdl-shadow--2dp
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
            input#in-name.mdl-textfield__input(type='text')
            label.mdl-textfield__label Name
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
            input#in-place.mdl-textfield__input(type='text')
            label.mdl-textfield__label Place
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
            input#in-type.mdl-textfield__input(type='text')
            label.mdl-textfield__label Type
          button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(onclick='addNewPlace();$("#modl-back").hide();$("#modl").hide();') Add
    else
      script.
        var agent = false;
        var emailplz = "#{user.email}";
      div.tabbar
        div.tabbar-ind
        div.left Agent's Recommendations
        div.right My Picks
      div.main-contain
        .list-container
  else
    div.landing
      div.title-group
        h1.title Navia
        p.sub Where will you travel next?
      a.login.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href='/login') Log In
      a.signup.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href='/signup') Sign Up