extends layout

block content
  if user
    if user.agent
      script.
        var agent = true;
        var emailplz = "#{user.email}";
      div.tabbar.mdl-shadow--4dp
        div.tabbar-ind
        div.left(onclick='$("#a-tcontain").removeClass( "on-tab-2" );$(".tabbar-ind").removeClass("righted");') Places
        div.right(onclick='$("#a-tcontain").addClass( "on-tab-2" );$(".tabbar-ind").addClass("righted");') Likes
      div.main-contain
        .tabs-container#a-tcontain
          .list-container.recommendation
          .list-container.tab-2#group-likes
        button.add-rec.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(onclick='$("#modl-back").show();$("#modl").show();') +
        #modl-back(onclick='$("#modl-back").hide();$("#modl").hide();')
        #modl.mdl-card.mdl-shadow--2dp
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
            input#in-name.mdl-textfield__input(type='text')
            label.mdl-textfield__label Name
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
            input#in-place.mdl-textfield__input(type='text')
            label.mdl-textfield__label Description
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
            input#in-type.mdl-textfield__input(type='text')
            label.mdl-textfield__label Info
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
            input#in-img.mdl-textfield__input(type='text')
            label.mdl-textfield__label Image URL
          button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(onclick='addNewPlace();$("#modl-back").hide();$("#modl").hide();') Add
    else
      script.
        var agent = false;
        var emailplz = "#{user.email}";
      div.tabbar.mdl-shadow--4dp
        div.tabbar-ind
        div.left(onclick='$("#u-tcontain").removeClass( "on-tab-2" );$(".tabbar-ind").removeClass("righted");') Places
        div.right(onclick='$("#u-tcontain").addClass( "on-tab-2" );$(".tabbar-ind").addClass("righted");') Liked
      div.main-contain
        .tabs-container#u-tcontain
          .list-container.recommendation
          .list-container.tab-2#my-picks
  else
    div.landing
      div.title-group
        h1.title Navia
        p.sub Where will you travel next?
      a.login.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href='/login') Log In
      a.signup.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href='/signup') Sign Up